<div id="footer" class="pt-5 pb-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5 col-xl-3 col-lg-3 col-md-3 text-center text-white">
                <img src="../../assets/logo.png" class="img-fluid mb-3" alt="">
                <h4 class="bord py-3 pt-5  light">WE ARE SOCIAL</h4>
                <div class="icons d-flex mt-4 justify-content-around">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-solid fa-house-chimney"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
            <div class="col-12 text-center text-white pt-5 mt-2">
                <p>© 2022 <span class="text-info">Noor EL Deen</span> All Right Reserved</p>
            </div>
        </div>
    </div>
</div>