#footer{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../../assets/subscribe.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    // background-position: center center;
}


.bord{
    border-bottom: 1px solid white;
}


h4{
    font-weight: 400;
}
