<section id="portfolio" class="py-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-5 mx-auto header text-center py-5">

                <h2 class="h1">PORTFOLIO</h2>
                <div class="des mx-auto mt-3 mb-3"></div>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>

            </div>
            <div class="col-md-12">
                <div class="col-md-3 mx-auto px-4 d-flex justify-content-around">

                    <div class="p-2 text-white bg-info">All</div>
                    <div class="p-2">App</div>
                    <div class="p-2">Photo</div>
                    <div class="p-2">Web</div>
                    <div class="p-2">Print</div>


                

                </div>
            </div>



        </div>
    </div>

        <div class="col-12 gallery py-5 ">
            <div class="container-fluid cc">
                <div class="row ">
    
                    <div class="col-12 col-md-6 col-lg-3 child mb-1">
                        <img src="../../assets//shuffle-01.jpg" class="img-fluid cc" alt="">

                        <div class="child-content py-2 pt-3 px-4 bg-white ">
                            <h6>Awesome Image</h6>
                            <h6 class="text-info">Photography</h6>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 child mb-1">
                        
                        <img src="../../assets//shuffle-02.jpg" class="img-fluid" alt="">
                        <div class="child-content py-2 pt-3 px-4 bg-white ">
                            <h6>Awesome Image</h6>
                            <h6 class="text-info">Photography</h6>
                        </div>                    
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 child mb-1">
                        
                        <img src="../../assets//shuffle-03.jpg" class="img-fluid" alt="">
                        <div class="child-content py-2 pt-3 px-4 bg-white ">
                            <h6>Awesome Image</h6>
                            <h6 class="text-info">Photography</h6>
                        </div>                    
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 child mb-1">
                        
                        <img src="../../assets//shuffle-04.jpg" class="img-fluid" alt="">
                        <div class="child-content py-2 pt-3 px-4 bg-white ">
                            <h6>Awesome Image</h6>
                            <h6 class="text-info">Photography</h6>
                        </div>                    
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 child mb-1">
                        
                        <img src="../../assets//shuffle-05.jpg" class="img-fluid" alt="">
                        <div class="child-content py-2 pt-3 px-4 bg-white ">
                            <h6>Awesome Image</h6>
                            <h6 class="text-info">Photography</h6>
                        </div>                    
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 child mb-1">
                        
                        <img src="../../assets//shuffle-06.jpg" class="img-fluid" alt="">
                        <div class="child-content py-2 pt-3 px-4 bg-white ">
                            <h6>Awesome Image</h6>
                            <h6 class="text-info">Photography</h6>
                        </div>                    
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 child mb-1">
                        
                        <img src="../../assets//shuffle-07.jpg" class="img-fluid" alt="">
                        <div class="child-content py-2 pt-3 px-4 bg-white ">
                            <h6>Awesome Image</h6>
                            <h6 class="text-info">Photography</h6>
                        </div>                    
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 child mb-1">
                        
                        <img src="../../assets//shuffle-08.jpg" class="img-fluid" alt="">
                        <div class="child-content py-2 pt-3 px-4 bg-white ">
                            <h6>Awesome Image</h6>
                            <h6 class="text-info">Photography</h6>
                        </div>                    
                    </div>

                    <div class="col-3 py-4 mx-auto text-center mt-3">
                        <a href="">
                            <button class="btn btn-info text-white p-2 px-4"> MORE </button>
                        </a>
                    </div>
            
                </div>
            </div>

        </div>

</section>