#qoutes{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../../assets/quote.jpg);
    background-size: 100% 100%;
    // background-repeat: no-repeat;
    background-position: center center;
    height: 43vh;
}

.desin{
    height: 100%;
}

