#ach{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../../assets/stats.png);
    background-size: 100% 100%;
    // background-repeat: no-repeat;
    background-position: center center;
    // height: 65vh;
}

i{
    background-color: black;

}

h1{
    // font-size: 3.125rem;
    font-weight: 700;
}

p{
    // font-size: 14px;
}

.child{
    background-color: rgba(14, 116, 143, 0.7);
}