<div id="about" class="about pt-5">
    <div class="container pt-5">
        <div class="row ">
            <div class="col-12">
                <div class="col-10 col-lg-5 col-md-9 header mx-auto text-center ">
                    <h2 class="h1">ABOUT US</h2>
                    <div class="des mx-auto my-3"></div>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                </div>
            </div>

            <div class="col-10 col-lg-7 col-md-12 mx-auto img-des">
                <img src="../../assets/about.png" class="img-fluid " alt="">
            </div>
        </div>
    </div>
</div>
