h2{
    font-weight: 400;
}

p{
    color: gray;
}

.img-des img{
    position:relative;
    // top: 8vh;
    bottom: -85px;
}

.img-des {
    height: 45vh;
    position: relative;
}

#about{
    overflow: hidden;


}