<div id="vid">
    <!-- <div class="container-fluid"> -->
        <!-- <div class="row"> -->
            <div class="video d-flex align-items-center">
                <video autoplay loop muted>
                    <source type="video/mp4" src="../../assets/awesome-video.mp4">
                </video>
                <div class="text w-100  py-5 text-center text-white">
                    <h4>SUPER AWESOME VIDEO HERE</h4>
                    <p class="py-3">Its All You Need</p>
                    <button class="btn btn-dark">SEE MORE</button>
                </div>
            </div>

        </div>
    <!-- </div>
</div> -->