<section id="mail" class="d-flex align-items-center py-5">
    <div class="container py-5">
        <div class="row justify-content-around">
            <div class="col-12 col-md-10 col-lg-5">
                <div class="input-group mb-3 ">   
                    <!-- <i class="fa-solid fa-mug-hot p-3 fs-6 my-3 rounded-circle"></i> -->
                    <input type="mail" class="form-control p-3 bg-transparent text-light" placeholder="Your Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-light bg-info" type="button" id="button-addon2">SUBSCRIBE</button>
                  </div>
            </div>
            <div class="col-lg-6 col-12 text-white">
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blan dit aliquet elit, eget tincidunt.</p>
            </div>

        </div>
    </div>
</section>