<div id="contact">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-5 mx-auto text-center">
                <div class="header ">
                    <h2 class="h1"> CONTACT US</h2>
                    <div class="des mx-auto my-3"></div>
                    <p class="py-2">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.                    </p>
                </div>

            </div>
            <div class="col-12  mx-auto py-5">
                <div class="row ">
                    <div class="col-12 col-lg-9 col-xl-9 col-md-9  mx-auto">
                        <form >
                            <div class="form-group pb-4">
                              <input type="email" class="form-control p-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name">
                            </div>
                            <div class="form-group pb-4">
                              <input type="password" class="form-control p-3" id="exampleInputPassword1" placeholder="Your Email">
                            </div>
                            <div class="form-group pb-4">
                                <textarea name="" id="" class="form-control p-3" cols="30" placeholder="Your Message" rows="7"></textarea>
    
                              </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-info text-light px-4 py-3">SEND MESSAGE</button>
                            </div>
    
                          </form>
                    </div>
                    <div class="col-12 col-lg-2 col-xl-2 col-md-2  mx-auto">
                        <div class="row">
                            <div class="child  col-6 col-md-12 my-5 my-md-0 mb-5 pb-4">
                                <h5 class="mb-4">WHERE WE ARE</h5>
                                <p class="m-0">+00 123.456.789</p>
                                <p class="m-0">+00 123.456.789</p>    
                            </div>
                            <div class="child2 col-6 col-md-12 my-5 my-md-0  ">
                                <h5 class="mb-4">GET IN TOUCH</h5>
                                <p class="m-0">Awesome Address 17 <br>
                                    New York, NYC <br>
                                    123-4567-890 <br>
                                    USA <br>
                                    </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>