<section id="pricing" class="py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 ">
                <div class="header text-center col-lg-5 mx-auto">
                    <h2 class="h1">PRICING</h2>
                    <div class="des mx-auto my-3"></div>
                    <p class="py-2">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                </div>
                <div class="container">
                    <div class="content container col-12 py-4">
                        <div class="row py-5">

                                <div class="col-xl-3 py-2 col-lg-4 col-md-6 col-sm-12">
                                    <div class="child">
                                        <div class="child1">
                                            <div class="text-center py-3">
                                                <h5 class="pt-4">BASIC</h5>
                                                <div class="price pb-3 w-50 mx-auto">
                                                    <div class="d-flex justify-content-around">
                                                        <div class="dollar align-self-start"><h3>$</h3></div>
                                                        <div class="no align-self-center pt-3 pb-2"><h1 >19 <span class="h5">/Mo</span></h1></div>
                                                        <div class="monthly "></div>
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="child2">
                                            <div class="text  w text-center mt-2 mx-auto py-2 ">
                                                <h6 class="">Feature No 1</h6>
                                            </div>
                                            <div class="text w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Extra Feature</h6>
                                            </div>
                                            <div class="text w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Extra Feature No 2</h6>
                                            </div>
                                            <div class=" w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Feature</h6>
                                            </div>
                                        </div>
                                        <div class="text-center py-4 mt-1">
                                            <button class="btn btn-outline-info text-dark px-4 py-3">Buy Now</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-3 py-2 col-lg-4 col-md-6 col-sm-12">
                                    <div class="child">
                                        <div class="child1">
                                            <div class="text-center py-3">
                                                <h5 class="pt-4">PREMIUM</h5>
                                                <div class="price pb-3 w-50 mx-auto">
                                                    <div class="d-flex justify-content-around">
                                                        <div class="dollar align-self-start"><h3>$</h3></div>
                                                        <div class="no align-self-center pt-3 pb-2"><h1 >29 <span class="h5">/Mo</span></h1></div>
                                                        <div class="monthly "></div>
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="child2">
                                            <div class="text  w text-center mt-2 mx-auto py-2 ">
                                                <h6 class="">Feature No 1</h6>
                                            </div>
                                            <div class="text w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Extra Feature</h6>
                                            </div>
                                            <div class="text w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Extra Feature No 2</h6>
                                            </div>
                                            <div class=" w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Feature</h6>
                                            </div>
                                        </div>
                                        <div class="text-center py-4 mt-1">
                                            <button class="btn btn-outline-info text-dark px-4 py-3">Buy Now</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-3 py-2 col-lg-4 col-md-6 col-sm-12">
                                    <div class="child">
                                        <div class="child1">
                                            <div class="text-center py-3">
                                                <h5 class="pt-4">PRO</h5>
                                                <div class="price pb-3 w-50 mx-auto">
                                                    <div class="d-flex justify-content-around">
                                                        <div class="dollar align-self-start"><h3>$</h3></div>
                                                        <div class="no align-self-center pt-3 pb-2"><h1 >39 <span class="h5">/Mo</span></h1></div>
                                                        <div class="monthly "></div>
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="child2">
                                            <div class="text  w text-center mt-2 mx-auto py-2 ">
                                                <h6 class="">Feature No 1</h6>
                                            </div>
                                            <div class="text w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Extra Feature</h6>
                                            </div>
                                            <div class="text w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Extra Feature No 2</h6>
                                            </div>
                                            <div class=" w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Feature</h6>
                                            </div>
                                        </div>
                                        <div class="text-center py-4 mt-1">
                                            <button class="btn btn-outline-info text-dark px-4 py-3">Buy Now</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-3 py-2 col-lg-4 col-md-6 col-sm-12">
                                    <div class="child">
                                        <div class="child1">
                                            <div class="text-center py-3">
                                                <h5 class="pt-4">PLATINUM</h5>
                                                <div class="price pb-3 w-50 mx-auto">
                                                    <div class="d-flex justify-content-around">
                                                        <div class="dollar align-self-start"><h3>$</h3></div>
                                                        <div class="no align-self-center pt-3 pb-2"><h1 >49 <span class="h5">/Mo</span></h1></div>
                                                        <div class="monthly "></div>
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="child2">
                                            <div class="text  w text-center mt-2 mx-auto py-2 ">
                                                <h6 class="">Feature No 1</h6>
                                            </div>
                                            <div class="text w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Extra Feature</h6>
                                            </div>
                                            <div class="text w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Extra Feature No 2</h6>
                                            </div>
                                            <div class=" w text-center mt-2 mx-auto py-2">
                                                <h6 class="">Feature</h6>
                                            </div>
                                        </div>
                                        <div class="text-center py-4 mt-1">
                                            <button class="btn btn-outline-info text-dark px-4 py-3">Buy Now</button>
                                        </div>
                                    </div>

                                </div>

                        </div>

                    </div>

                    <div class="col-12 text-center">
                        <h5 class="pb-3">Contact us if you have special request</h5>
                        <button class="btn btn-info text-white px-4 py-2">Contact Us</button>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>