<section id="design-come-with">

    <div class="container">
      <div class="row p-5">
        <div class="col-md-5 ">
          <div class="row">
            <div class="offset-1 mx-auto position-relative">
              <img src="../../assets/mobile.png" alt="">
            </div>
          </div>
        </div>

        <div class="col-md-6 cont offset-1">
          <H2>OUR DESIGN COMES WITH...</H2>
          <br>
          <br>
          <div class="ico-text pb-3">
            <div class="d-flex">
              <i class="fa-solid fa-display pe-3 "></i>
              <h5>Responsive Design</h5>
            </div>
          </div>

          <div class="ico-text pb-3">
            <div class="d-flex">
              <i class="fa-solid fa-display pe-3 "></i>
              <h5>Modern And Clean Design</h5>
            </div>
          </div>


          <div class="ico-text pb-3">
            <div class="d-flex">
              <i class="fa-solid fa-display pe-3 "></i>
              <h5>Clean Code</h5>
            </div>
          </div>


          <div class="ico-text pb-3">
            <div class="d-flex">
              <i class="fa-solid fa-display pe-3 "></i>
              <h5>Browser Friendly</h5>
            </div>
          </div>

        </div>
        
      </div>
    </div>

  </section>