<div class="container">
    <div class="row">
          <nav class="navbar fixed-top navbar-expand-lg navbar-dark nava">
            <div class="container px-5 d-flex py-3 line">
              <div class="">
                <a class="navbar-brand" href="#" >
                  <img class="img-fluid" src="../../assets/logo.png" alt="Kasper logo">
              </a>
              </div>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#services">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#pricing">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#contact">Contact</a>
                  </li>
                  <div class="design">
                    
                    <i class="fa-solid fa-magnifying-glass px-4 "></i>
                    
                  </div>


                  

                </ul>
              </div>
            </div>
          </nav>
    </div>
</div>
