<section id="services">
    <div class="container">
      <div class="row p-5">

        <div class="col-md-5 col-9 header pt-5 text-center mx-auto">

                  <h2 class="h1">SERVICES</h2>
                  <div class="des mx-auto mt-3 mb-3"></div>
                  <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
        </div>

        <div class="col-12 py-5">
          <div class="row">
            <div class="col-xl-6 col-12 col-md-12 child  ">
                <div class="ser-ico">
                    <i class="fa-solid fa-display"></i>
                </div>                    
                <div class="ser-text">
                    <h3>Vorem amet intuitive</h3>
                    <br>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-xl-6 col-12 col-md-12 child  ">
                <div class="ser-ico">
                  <i class="fa-solid fa-gear"></i>
                </div>                    
                <div class="ser-text">
                    <h3>Vorem amet intuitive</h3>
                    <br>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-xl-6 col-12 col-md-12 child  ">
              <div class="ser-ico">
                <i class="fa-solid fa-pen-ruler"></i>
              </div>                    
              <div class="ser-text">
                  <h3>Vorem amet intuitive</h3>
                  <br>
                  <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                  <br>
                  <br>
              </div>
            </div>
            <div class="col-xl-6 col-12 col-md-12 child  ">
                <div class="ser-ico">
                  <i class="fa-solid fa-camera"></i>
                </div>                    
                <div class="ser-text">
                    <h3>Vorem amet intuitive</h3>
                    <br>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    <br>
                    <br>
                </div>
            </div>

          </div>

                  
                  
        </div>

                




      </div>
    </div>

  </section>