#home{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../../assets/landing.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    align-content: space-between;
}

.home-content{
    background-color: rgba(26,101,122,0.8);
    box-sizing: border-box;
    // padding: 50px;
}

h2{
    line-height: 1.2;
    font-weight: 450;

}