<div id="home" class="vh-100 ">

    <app-nav-bar></app-nav-bar>

    <div class="home col-12 col-md-6 vh-100 d-flex align-items-center">
        
        <div class="container-fluid py-5 p-5 p-md-5 text-white home-content">
            <H2>Hello World!</H2>
            <h2 class="pb-2">We Are Kasper We Make Art.</h2>
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
        </div>

    </div>

</div>